$duration: .35s;

.circles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  opacity: 0.15;
  transform: translateZ(0);
  z-index: -1;

  @media (max-width: 767px) {
    transition: .6s $easeOutSine;
  }

  & > * {
    $base: 180px;
    $step: 80px;
    $count: 45;

    @for $i from 1 through $count {
      $size: calc(#{$base} + (#{$step} * #{$i}));
      $pos: calc(50% - ((#{$base} + (#{$step} * #{$i})) * 0.5));
      $delay: calc(0.005 * #{$i}s);
      $opacity: calc(0.03 * (#{$count} - #{$i}));

      &:nth-child(#{$i}) {
        width: $size;
        height: $size;
        top: $pos;
        left: $pos;
        transition-delay: $delay;
      }
    }

    @media (max-width: 1921px) {
      $limit: 25;
      @for $i from $limit through $count {
        &:nth-child(#{$i}) {
          display: none;
          transition: none;
          transform: none;
        }
      }
    }
    @media (max-width: 1441px) {
      $limit: 18;
      @for $i from $limit through $count {
        &:nth-child(#{$i}) {
          display: none;
          transition: none;
          transform: none;
        }
      }
    }
    @media (max-width: 1400px) {
      $limit: 16;
      @for $i from $limit through $count {
        &:nth-child(#{$i}) {
          display: none;
          transition: none;
          transform: none;
        }
      }
    }
    @media (max-width: 1280px) {
      $base: 120px;
      $step: 70px;
      $count: 15;

      @for $i from 1 through $count {
        $size: calc(#{$base} + (#{$step} * #{$i}));
        $pos: calc(50% - ((#{$base} + (#{$step} * #{$i})) * 0.5));

        &:nth-child(#{$i}) {
          width: $size;
          height: $size;
          top: $pos;
          left: $pos;
        }
      }
    }
    @media (max-width: 767px) {
      $base: 80px;
      $step: 50px;
      $count: 15;

      @for $i from 1 through $count {
        $size: calc(#{$base} + (#{$step} * #{$i}));
        $pos: calc(50% - ((#{$base} + (#{$step} * #{$i})) * 0.5));

        &:nth-child(#{$i}) {
          width: $size;
          height: $size;
          top: $pos;
          left: $pos;
        }
      }
    }
  }

  &.scaled {
    & > * {
      transform: scale(1.1) translateZ(0);
      transition-timing-function: $bounce;

      @media (max-width: 1280px) {
        transform: none;
        transition-timing-function: $easeOutCubic;
      }
    }
  }
}

.circle {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0 2px $white;
  -webkit-box-shadow: 0 0 0 2px $white;
  -moz-box-shadow: 0 0 0 2px $white;
  pointer-events: none;
  transition-timing-function: $easeOutCubic;
  transition-duration: $duration;
  transition-property: transform;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      will-change: transform;
    }
  }
}