mixin gridItem($number)
  div.instagrid__item(class="js-hidden")
    img.image(src=require(`static/images/pic-${$number}.jpg`))

// journal section
section.section(data-anchor="journal")
  div.content.content--journal
    section.instagrid(id="instagrid")
    h2.content__title(class="js-hidden") journal /