.content.content--journal {
  max-width: 100%;

  .content__title {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(100% / 5 + 50px);
    user-select: none;
    pointer-events: none;
    z-index: 2;

    @media (max-width: 1280px) {
      top: calc(37.5% - 20px);
      left: 40%;
    }
  }
}

.instagrid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  z-index: 1;

  &__item {
    flex: 0 0 20%;
    width: 20%;
    height: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    overflow: hidden;

    @media (max-width: 1280px) {
      flex: 0 0 calc(100% / 3);
      width: calc(100% / 3);
      height: calc(100% / 4);

      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15) {
        display: none;
      }
    }

    .image {
      transition: .5s $easeOutSine;
      opacity: 0.6;
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .caption {
      display: none;
    }
  }
}

.journal.tingle-modal {
  overflow: visible;
  padding-top: 0;

  @media (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tingle-modal-box__content {
    overflow: visible;
    padding: 0;
  }

  .tingle-modal-box {
    background-color: transparent;
    width: auto;
  }

  .tingle-modal__close {
    display: none;
  }
}

.instagrid-modal {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: $white;

  @media (max-width: 1280px) {
    flex-direction: column;
    align-items: center;
  }

  .modal-close {
    position: absolute;
    left: calc((50% + 21px) * -1);
    top: calc(50% - 21px);
    cursor: pointer;

    @media (max-width: 1280px) {
      top: -70px;
      left: calc(50% - 21px);
    }

    rect {
      transition: .15s $easeOutSine;
    }

    &:hover rect {
      fill: darken($white, 35%);
    }
  }

  .image {
    display: block;
    width: calc(27.6vw);
    height: calc(27.6vw);
    object-fit: cover;
    transition-delay: .1s;

    @media (max-width: 1280px) {
      width: calc(50vw);
      height: calc(50vw);
    }
    @media (max-width: 767px) {
      width: calc(90vw);
      height: calc(90vw);
    }
    @media (not (orientation: landscape)) and (max-width: 1024px) and (max-width: 1280px) {
      width: calc(90vw);
      height: calc(90vw);
    }
    @media (max-width: 1024px) and (orientation: landscape) {
      width: calc(70vh);
      height: calc(70vh);
    }
  }

  .desc {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding-left: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.2;
    font-family: $GrotesqueLight;
    transition-delay: .2s;

    @media (max-width: 1280px) {
      width: 100%;
      height: 90px;
      top: calc(100% + 20px);
      left: 0;
      padding: 0;
      text-align: center;
      font-size: 14px;
    }

    p {
      width: 100%;
      max-height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  a.link {
    width: 100%;
    display: block;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 10px;

    @media (max-width: 1280px) {
      font-size: 14px;
    }
  }
}