.js-normal-scroll {
  min-height: 100vh;

  @media (max-width: 767px) {
    min-height: 100%;
  }
}

.js-hidden {
  transform: translateY(150px) translateZ(0);
  opacity: 0;
  transition: .35s ease-in-out;
}

.js-show {
  transform: translateY(0) translateZ(0);
  opacity: 1;
}

.title {
  font-size: 50px;
}

.main {
  height: 100%;
  max-height: 100%;
}

.content {
  height: 100vh;

  //@media (max-width: 767px) {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  width: 100%;
  //  height: 100%;
  //}
}

@media (max-height: 500px) {
  .header,
  .content.content--contacts .content__right {
    display: none;
  }

  .content.content--contacts .content__left {
    flex: 0 0 auto;
  }
}