extends ../../templates/Base/index


block title
  |  Main

block main
  // main section start
  main.main
    include ../../modules/Circles/index

    // full page section start
    section(id="fullPage")
      include ../../modules/Gstudio/index
      include ../../modules/Rewards/index
      include ../../modules/Showreel/index
      include ../../modules/Projects/index
      include ../../modules/Journal/index
      include ../../modules/Contacts/index