mixin clientsItem
  div.client(class="js-hidden")
    img(src=require('static/images/client.png'))

// contacts section
section.section(data-anchor="contacts")
  section.content.content--clients
    +clientsItem
    +clientsItem
    +clientsItem
    +clientsItem
    +clientsItem
    +clientsItem

  div.content.content--contacts
    section.content__left
      form.contact
        h2.content__title(class="js-hidden") contacts /
        section.contact__form
          label.contact__label(class="js-hidden")
            input.contact__input(class="js-form-input" type="text" placeholder="your email")
          div.contact__message(class="js-hidden")
            label.contact__label
              input.contact__input(class="js-form-input" type="text" placeholder="message")
            label.contact__file(for="msgFile")
              input.contact__file_input(id="msgFile" type="file" placeholder="message" hidden)
              img.contact__file_img(src=require('static/images/i-add-file.png'))
        button.contact__btn(class="js-hidden" type="send") Send
        span.contact__alert Thank you, we all received!
        //- добавить класс "active" для отображения
        //- span.contact__alert(class="active") Thank you, we all received!

    section.content__right(class="js-hide-on-focus")
      h2.email(class="js-hidden") Contact@gstudio.com
      section.info
        section.info__sub(class="js-hidden")
          p.location Moscow / +33
          p.address Bersenievskaya Naberezhnaya 8 b1
          p.number +7 495 2 333 668
        section.info__sub(class="js-hidden")
          p.location Barcelona / +33
          p.address Passeig de Gracia, 11
          p.number +34 902 04 42 10
        section.socials(class="js-hidden")
          a(href="#") facebook
          a(href="#") instagram
          a(href="#") dribbble