$clientsHeight: 235px;

.content {
  &.content--clients {
    position: absolute;
    top: 15vh;
    left: calc((100% - 1120px) / 2);
    height: $clientsHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 1800px) {
      justify-content: flex-start;
    }
    @media (max-width: 1280px) {
      display: none;
    }
  }

  &.content--contacts {
    padding-top: calc(50vh - 50px);
    align-items: flex-start;
    height: 100vh;

    @media (max-width: 1800px) {
      padding-top: calc(50vh - 30px);
    }
    @media (max-width: 1280px) {
      position: relative;
      padding-top: calc(50vh + 30px);
    }
    @media (max-width: 767px) {
      height: 100%;
      padding-top: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .content {
      &__left {
        align-items: flex-start;
        height: auto;

        @media (max-width: 1280px) {
          flex: 0 0 50%;
        }
        @media (max-width: 767px) {
          width: 100%;
          height: 100%;
        }
      }

      &__right {
        flex-direction: column;
        align-items: flex-start;
        height: auto;

        @media (max-width: 1280px) {
          position: static;
          flex: 0 0 50%;
        }
        @media (max-width: 767px) {
          width: 100%;
          height: 100%;
          justify-content: flex-end;
          padding: 50px 0 40px 0;
        }
      }

      &__title {
        margin-right: 0;

        @media (max-width: 1280px) {
          display: none;
        }
      }
    }
  }
}

.client {
  margin-bottom: 50px;
  height: 100%;
  max-height: 55px;

  @media (max-width: 1800px) {
    max-height: 40px;
  }

  img {
    display: block;
    height: 100%;
  }

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact {
  position: relative;
  padding-top: 30px;
  margin-right: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;

  @media (max-width: 1800px) {
    padding-top: 20px;
  }
  @media (max-width: 1280px) {
    width: 100%;
    margin-right: 0;
  }
  @media (max-width: 767px) {
    align-items: flex-end;
    padding-top: 70px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 80px 0 40px 0;

    @media (max-width: 1800px) {
      margin: 50px 0;
    }
    @media (max-width: 1280px) {
      width: 100%;
      margin: 0 0 50px 0;
      padding-right: 30px;
    }
    @media (max-width: 767px) {
      padding-right: 0;
      margin-bottom: 30px;
    }
    @media (not (max-width: 767px)) and (max-height: 650px) {
      margin: 30px 0 40px 0;
    }
  }

  &__message {
    position: relative;
    width: 100%;
    margin-top: 15px;
  }

  &__file {
    position: absolute;
    bottom: 10px;
    right: 0;
    transition: .15s $easeOutSine;
    opacity: 1;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__label {
    width: 100%;
  }

  &__input {
    width: 260px;
    min-height: 40px;
    padding: 10px 0;
    font-family: $GrotesqueBold;
    font-size: 18px;
    color: $white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid darken($white, 35%);
    transition: .15s $easeOutSine;

    @media (max-width: 1280px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      border-color: $white;
      padding: 5px 0;
    }

    @mixin ph {
      opacity: 1;
      color: darken($white, 35%);
      transition: .15s $easeOutSine
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      @include ph;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      @include ph;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      @include ph;
    }
    &:-moz-placeholder { /* Firefox 18- */
      @include ph;
    }

    &:focus {
      border-color: $white;

      @mixin phFocus {
        transform: translateY(10px);
        opacity: 0;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @include phFocus;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        @include phFocus;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        @include phFocus;
      }
      &:-moz-placeholder { /* Firefox 18- */
        @include phFocus;
      }
    }
  }

  &__alert {
    position: absolute;
    bottom: 40px;
    transition: .15s $easeOutSine;
    transform: translateY(-10px);
    opacity: 0;

    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__btn {
    color: $white;
    font-size: 24px;
    font-family: $GrotesqueBold;
    transition: .15s $easeOutSine;
    padding: 13px 30px 15px 29px;
    border-radius: 24px;
    border: 2px solid $white;

    @media (max-width: 1800px) {
      font-size: 18px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      padding: 7px 20px 7px 19px;
    }

    &:hover {
      color: darken($white, 35%);
    }
  }
}

.email {
  font-size: 88px;
  font-family: $GrotesqueBold;

  @media (max-width: 1800px) {
    font-size: 62px;
  }
  @media (max-width: 1280px) {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(260px - 230px);
    font-size: 55px;
  }
  @media (max-width: 767px) {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 120px);
    font-size: 28px;
  }
  @media (max-width: 374px) {
    top: calc(50% - 16px);
    left: calc(50% - 103px);
    font-size: 24px;
  }
}

.info {
  line-height: 1.3;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 36px;
  font-family: $GrotesqueBold;
  white-space: nowrap;

  @media (max-width: 1800px) {
    font-size: 25px;
  }
  @media (max-width: 1280px) {
    font-size: 18px;
    white-space: normal;
    margin-left: 30px;
  }
  @media (max-width: 767px) {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
  @media (not (max-width: 767px)) and (max-height: 650px) {
    margin-top: 20px;
    font-size: 22px;
  }

  &__sub:not(:last-of-type) {
    margin-bottom: 25px;

    @media (max-width: 1800px) {
      margin-bottom: 17px;
    }
    @media (not (max-width: 767px)) and (max-height: 650px) {
      margin-bottom: 13px;
    }
  }
}

.socials {
  margin-top: 50px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1800px) {
    margin-top: 35px;
    font-size: 17px;
  }
  @media (max-width: 767px) {
    width: calc(100% - 40px);
    margin: 40px auto 0;
  }
  @media (max-width: 374px) {
    width: calc(100% - 45px);
    margin-top: 20px;
  }
  @media (not (max-width: 767px)) and (max-height: 650px) {
    margin-top: 20px;
  }

  & > * {
    display: block;
    font-family: $GrotesqueLight;

    @media (max-width: 374px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}