// showreel section
section.section(data-anchor="showreel")
  div.content.content--showreel
    div.content__left
      h2.content__title(class="js-showreel-title js-hidden") showreel /
    div.content__right
      div.content__link-wrapper(class="js-hidden")
        a.content__link(id="showreelPlay" href="#") Play