.content.content--showreel {
  .content__left {
    @media (max-width: 767px) {
      padding-left: 20px;
    }
  }

  //.content__right {
  //  @media (max-width: 767px) {
  //    height: 100vh;
  //  }
  //}
}

.showreel.tingle-modal {
  background: transparent;
  overflow: visible;

  @media (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }

  .tingle-modal-box {
    width: auto;
    border-radius: 0;
    overflow: visible;

    @media (max-width: 767px) {
      width: 100%;
    }

    &__content {
      padding: 0;
      overflow: hidden;
    }
  }

  .tingle-modal__close {
    display: none;
  }

  .tingle-modal-box__content {
    overflow: visible;
  }
}

.video-cont {
  position: relative;
  overflow: visible;

  iframe {
    display: block;

    @media (max-width: 767px) {
      width: 100%;
      height: calc(100vw / 1.7);
    }
  }

  .modal-close {
    width: 42px;
    height: 42px;
    transform: translateY(0);
    opacity: 1;
    transition: .15s $easeOutSine;
    position: absolute;
    top: calc(50% - 21px);
    right: calc((100vw - 720px) / -4);
    z-index: 100;

    @media (max-width: 1280px) {
      top: calc(100% + 100px);
      left: calc(50% - 21px);
    }

    rect {
      fill: $white;
    }
  }
}