.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  color: $white;

  @media (max-width: 767px) {
    transform: translateY(-100px);
    transition: .15s $easeOutSine;
    opacity: 0;

    &.js-show {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__list {
    max-width: 1280px;
    width: 100%;
    margin: 70px auto 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 1800px) {
      max-width: 1210px;
    }
    @media (max-width: 1280px) {
      max-width: 520px;
      justify-content: space-between;
    }
    @media (max-width: 767px) {
      max-width: 90%;
      margin: 30px auto;
    }
  }

  &__item {
    list-style: none;
    font-size: 20px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
    @media (max-width: 374px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media (max-width: 767px) {
        margin-right: 15px;
      }
    }
  }
}

.contact-link-mobile {
  font-size: 17px;
  position: absolute;
  bottom: 25px;
  right: 40px;
  z-index: 10;
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
  @media (max-width: 374px) {
    font-size: 14px;
  }
}