// header section start
header.header(class="js-header")
  ul.header__list
    li.header__item
      a(href="#gstudio") Gstudio
    li.header__item
      a(href="#showreel") Showreel
    li.header__item
      a(href="#projects") Projects
    li.header__item
      a(href="#journal") Journal
    li.header__item
      a(href="#contacts") Contacts

a.contact-link-mobile(class="js-contacts-link" href="#contacts") Contacts