.content.content--rewards {
  .content__left,
  .content__right {
    flex: 0 0 50%;
    width: 100%;
  }

  .content__right {
    @media (max-width: 767px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      flex: 0 0 100%;
    }
  }
}

.rewards {
  &__list-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 55px -100px 0 0;
    list-style: none;

    @media (max-width: 1280px) {
      margin-right: -80px;
      max-width: 720px;
    }
    @media (max-width: 767px) {
      margin-right: -35px;
      max-width: 400px;
    }
    @media (max-width: 374px) {
      margin-right: -25px;
      margin-top: 30px;
      max-width: 320px;
    }

    &_item {
      width: 180px;
      height: 120px;
      margin-right: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;

      @media (max-width: 1280px) {
        width: 140px;
        height: 95px;
        margin-right: 80px;
      }
      @media (max-width: 767px) {
        width: 85px;
        height: 55px;
        margin-right: 35px;
        margin-bottom: 45px;
      }
      @media (max-width: 374px) {
        width: 70px;
        height: 46px;
        margin-right: 25px;
        margin-bottom: 30px;
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }

  .section__inner {
    align-items: flex-start;
  }

  .desc {
    position: absolute;
    top: calc(50% + 150px);
    left: 0;
    font-size: 48px;
    font-family: $GrotesqueLight;

    @media (max-width: 1800px) {
      font-size: 32px;
      top: calc(50% + 150px);
    }
    @media (max-width: 1280px) {
      font-size: 18px;
      top: calc(50% + 170px);
    }
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
      top: calc(50% + 120px);
      font-size: 14px;
    }
  }

  .string {
    display: block;
    white-space: nowrap;

    @media (max-width: 767px) {
      //display: inline;
      //white-space: normal;
    }
  }
}