mixin rewardItem
  li.rewards__list_item
    img.rewards__image(class="js-hidden" src=require('static/images/reward.png'))

// rewards section
section.section.rewards(data-anchor="rewards")
  div.content.content--rewards
    div.rewards__list-wrapper
      ul.rewards__list
        +rewardItem
        +rewardItem
        +rewardItem
        +rewardItem
        +rewardItem

    div.content__left
    div.content__right
      p.desc
        span.string(class="js-hidden") / Digital agency —
        span.string(class="js-hidden") Space team, wise on&nbsp;hip-based&nbsp;
        span.string.string--wizard(class="js-hidden") digital technologies.