.master {
  min-height: 80vh;

  h2 {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 40px;

    a {
      font-size: 30px;
      color: $black;
      line-height: 1.5;
      transition: .15s ease-out;
      text-decoration: none;

      &:hover {
        color: darkorange;
      }
    }
  }
}