extends ../../templates/Base/index


block title
  |  Project

block main
  main.main
    section.content.details
      include ../../modules/Circles/index

      section.content__left
      section.content__right
        div.details__wrapper
          h1.details__title l’appartment
          a.details__link(href="Lappartment.ru") Lappartment.ru
          section.details__desc
            p.details__desc_item Несмотря на создание специальной рабочей группыпо изучению криптовалютного рынка CEO инвестиционной компании BlackRock. Ларри Финк утверждает, что ее клиентам не интересн этот новый класс активов. Об этом он сказал в интервью Bloomberg Television.

    section.view
      img(src=require('static/images/project-view-1.jpg'))
      img(src=require('static/images/project-view-2.jpg'))
      img(src=require('static/images/project-view-3.jpg'))