.circles {
  height: 100%;
  overflow: visible;

  @media (max-width: 767px) {
    margin-top: -37px;
  }
  @media (max-width: 575px) {
    margin-top: -57px;
  }
  @media (max-width: 374px) {
    margin-top: 0;
  }
}

.details {
  position: relative;
  height: 660px;

  @media (max-width: 767px) {
    height: auto;
  }

  .content__left,
  .content__right {
    height: 660px;

    @media (max-width: 767px) {
      height: auto;
    }
  }

  .content__left {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .content__right {
    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
  }

  &__wrapper {
    height: 100%;
    padding-top: calc(330px - 50px);
    padding-bottom: 50px;

    @media (max-width: 1800px) {
      padding-top: calc(330px - 40px);
    }
    @media (max-width: 767px) {
      padding-top: 100px;
    }
  }

  &__title {
    font-family: $GrotesqueBold;
    font-size: 91px;
    color: $white;

    @media (max-width: 1800px) {
      font-size: 62px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
      margin-left: 45vw;
    }
    @media (max-width: 374px) {
      margin-left: 0;
    }
  }

  &__link {
    font-family: $GrotesqueLight;
    font-size: 48px;
    color: $white;

    @media (max-width: 1800px) {
      font-size: 34px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      margin-left: 45vw;
    }
    @media (max-width: 374px) {
      margin-left: 0;
    }
  }

  &__desc {
    margin-left: 30px;

    @media (max-width: 767px) {
      margin-left: 0;
    }
  }

  &__desc_item {
    display: flex;
    margin-top: 20px;
    line-height: 1.3;
    font-size: 20px;
    font-family: $GrotesqueLight;
    color: $white;

    @media (max-width: 1800px) {
      font-size: 14px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}

.view {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}