// projects section
section.section(class="js-normal-scroll" data-anchor="projects")
  div.content.content--projects
    div.content__left
      h2.content__title(class="js-hidden") projects /

    div.content__right
      ul.projects__list(id="projectsList")
        li.projects__item(class="js-hidden")
          div.projects__detail(class="js-roll")
            p.projects__detail_title(class="js-roll-title") Mobile
            ul.projects__detail_list(class="js-roll-list")
              li.projects__detail_item
                a(href="./project.html") lappartment
              li.projects__detail_item
                a(href="./project.html") a-mobile
              li.projects__detail_item
                a(href="./project.html") Jam fabric
              li.projects__detail_item
                a(href="./project.html") Brullov consalting
              li.projects__detail_item
                a(href="./project.html") Vrlper

        li.projects__item(class="js-hidden")
          div.projects__detail(class="js-roll")
            p.projects__detail_title(class="js-roll-title") Web
            ul.projects__detail_list(class="js-roll-list")
              li.projects__detail_item
                a(href="./project.html") MFMS
              li.projects__detail_item
                a(href="./project.html") Paratype
              li.projects__detail_item
                a(href="./project.html") Raiffeisen bank
              li.projects__detail_item
                a(href="./project.html") Rubeus
              li.projects__detail_item
                a(href="./project.html") Barbero
              li.projects__detail_item
                a(href="./project.html") Gfactory
              li.projects__detail_item
                a(href="./project.html") lappartment

        li.projects__item(class="js-hidden")
          div.projects__detail(class="js-roll")
            p.projects__detail_title(class="js-roll-title") Architecture
            ul.projects__detail_list(class="js-roll-list")
              li.projects__detail_item
                a(href="./project.html") Lamborgini house
              li.projects__detail_item
                a(href="./project.html") PRYTEK
              li.projects__detail_item
                a(href="./project.html") Affect
              li.projects__detail_item
                a(href="./project.html") Bathhouse
              li.projects__detail_item
                a(href="./project.html") SPB rest
              li.projects__detail_item
                a(href="./project.html") Москва тюнинг
              li.projects__detail_item
                a(href="./project.html") Frihet x Dark Side

        li.projects__item(class="js-hidden")
          div.projects__detail(class="js-roll")
            p.projects__detail_title(class="js-roll-title") Branding
            ul.projects__detail_list(class="js-roll-list")
              li.projects__detail_item
                a(href="./project.html") Adindex AdAwards
              li.projects__detail_item
                a(href="./project.html") MPAMOP