.content.content--projects {
  //@media (max-width: 767px) {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //}
  .content__right {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(100% + 25px);
    overflow: hidden;
    display: block;
    z-index: 10;

    @media (max-width: 767px) {
      height: 100%;
      //top: calc(100vh - 100%);
    }
  }

  .content__left {
    @media (max-width: 767px) {
      padding-left: 20px;
    }
  }
}

.projects {
  &__list_wrapper {
    position: relative;
  }
  &__list {
    $posOffset: 50px;
    $overflowOffset: 25px;
    margin: 0;
    padding: calc(50vh - 50px) 0 25vh calc(50% - 37px);
    width: calc(100% + #{$overflowOffset});
    height: 100%;
    overflow: auto;

    &.js-noscroll {
      pointer-events: none;
      user-select: none;
    }

    @media (max-width: 1800px) {
      padding-top: calc(50vh - 40px);
      padding-left: calc(50% - 25px);
    }
    @media (max-width: 1280px) {
      height: 100%;
      padding-top: calc(50vh - 25px);
    }
    @media (max-width: 767px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 100%;
      padding-top: calc(50vh - 15px);
      padding-left: calc(50% - 11px);
    }
  }

  &__item {
    display: block;
    list-style: none;
    margin-bottom: 20px;
  }

  &__detail {
    &_title {
      font-size: 92px;
      font-family: $GrotesqueBold;
      cursor: pointer;
      transition: .15s $easeOutCubic;

      @media (max-width: 1800px) {
        font-size: 62px;
      }
      @media (max-width: 767px) {
        font-size: 28px;
      }
      @media (max-width: 575px) {
        font-size: 26px;
      }

      &:hover {
        color: darken($white, 25%);
      }
    }

    &_list {
      margin: 0;
      padding: 0;
      height: 0;
      overflow: hidden;
      transition: .3s $easeOutSine;
    }

    &_item {
      list-style: none;
      font-size: 48px;
      font-family: $Grotesque;
      margin-left: 50px;

      @media (max-width: 1800px) {
        font-size: 34px;
      }
      @media (max-width: 1280px) {
        font-size: 18px;
        margin-top: 5px;
        margin-left: 15px;
      }
    }
  }
}