.content.content--gstudio {
  .content__left,
  .content__right {
    flex: 0 0 50%;
    width: 100%;
  }
}

.gstudio {
  .section__inner {
    align-items: flex-start;
  }

  .main-title {
    position: absolute;
    top: calc(50% - 45px);
    left: -35px;

    @media (max-width: 1800px) {
      top: calc(50% - 55px);
      left: -25px;
    }

    @media (max-width: 767px) {
      top: calc(50% - 20px);
      left: -12px;
    }
  }
}