@import '~static/styles/fonts';

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $Grotesque;
  margin: 0;
  background-color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

button, input {
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

a {
  color: $black;

  &:hover,
  &:focus,
  &:visited,
  &:active {
    color: $black;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: $black;

  @media (max-width: 1023px) {
    font-size: 14px;
  }
}

a, img, button, div, span, p {
  outline: none;
}

a {
  color: $white;
  text-decoration: none;

  @media (min-width: 1024px) {
    transition: .15s $easeOutSine;
  }

  &:active,
  &:visited,
  &:focus {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    @media (min-width: 1024px) {
      color: darken($white, 45%);
    }
  }
}

p, span, img, a, h1, h2, h3, h4, h5, h6, button, input, div, section, ul, li {
  &::selection {
    color: $white;
    background-color: #D8FF00;
  }
}

.main {
  position: relative;
  color: $white;
  overflow: hidden;
  //height: 100%;
}

.content {
  max-width: 1120px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 1280px) {
    max-width: 520px;
  }
  @media (max-width: 767px) {
    max-width: 90%;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

    @media (max-width: 1280px) {
      height: 100%;
    }
  }

  $leftWidth: 530px;

  &__left {
    flex: 0 0 530px;
    width: 530px;

    @media (max-width: 1800px) {
      flex: 0 0 540px;
      width: 540px;
    }
    @media (max-width: 1280px) {
      flex: 0 0 260px;
      width: 260px;
    }
    @media (max-width: 767px) {
      flex: 0 0 calc(50% - 10px);
      width: calc(50% - 10px);
    }
  }

  &__right {
    position: relative;
    flex: 0 0 calc(100% - #{$leftWidth});
    width: calc(100% - #{$leftWidth});

    @media (max-width: 1800px) {
      flex: 0 0 calc(100% - 540px);
      width: calc(100% - 540px);
    }
    @media (max-width: 1280px) {
      flex: 0 0 calc(100% - 260px);
      width: calc(100% - 260px);
    }
    @media (max-width: 767px) {
      flex: 0 0 calc(50% - 10px);
      width: calc(50% - 10px);
    }
  }

  &__title {
    width: auto;
    font-size: 48px;
    text-align: right;

    @media (max-width: 1800px) {
      font-size: 34px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__link {
    font-size: 92px;
    font-family: $GrotesqueBold;

    @media (max-width: 1800px) {
      font-size: 62px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
    }
  }
}