doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title GS -
      block title
    link( rel='preload' href=require('static/fonts/icomoon.woff') as='font' crossorigin='anonymous' )
    link( rel='preload' href=require('static/fonts/BasisGrotesquePro-Bold.woff') as='font' crossorigin='anonymous' )
    link( rel='preload' href=require('static/fonts/BasisGrotesquePro-Bold.woff2') as='font' crossorigin='anonymous' )

  body
    include ../Header/index
    block main